<div class="buttons">
  <button (click)="clickInteger('7')" class="circle-button orange-button">7</button>
  <button (click)="clickInteger('8')" class="circle-button orange-button">8</button>
  <button (click)="clickInteger('9')" class="circle-button orange-button">9</button>
  <span></span>
  <button (click)="clear()" class="rounded-button grey-button">C</button>

  <button (click)="clickInteger('4')" class="circle-button orange-button">4</button>
  <button (click)="clickInteger('5')" class="circle-button orange-button">5</button>
  <button (click)="clickInteger('6')" class="circle-button orange-button">6</button>
  <span></span>
  <button (click)="clickInteger('/')" class="rounded-button grey-button">/</button>

  <button (click)="clickInteger('1')" class="circle-button orange-button">1</button>
  <button (click)="clickInteger('2')" class="circle-button orange-button">2</button>
  <button (click)="clickInteger('3')" class="circle-button orange-button">3</button>
  <span></span>
  <button (click)="clickInteger('*')" class="rounded-button grey-button">*</button>

  <button (click)="clickInteger('0')" class="grid-span-1-5 rounded-button orange-button">0</button>
  <button (click)="clickInteger('.')" class="grid-span-1-5 rounded-button orange-button">,</button>
  <span></span>
  <button (click)="clickInteger('-')" class="rounded-button grey-button">-</button>

  <span class="divider"></span>

  <button (click)="calculate()" class="grid-span-3 rounded-button grey-button">=</button>
  <span></span>
  <button (click)="clickInteger('+')" class="rounded-button grey-button">+</button>
</div>
